<div>
  <div class="header-style">
    <div>
      <img src="../../../../assets/images/logo.png" height="55" width="330"/>
      <div class="subtitle-style">
        Portal para negocios
      </div>
    </div>
  </div>

  <div class="content-style">
    <div class="sidenav-style">

      <div class="pb-4 icon-style">
        <button mat-icon-button (click)="toHome()">
          <mat-icon color="primary">home</mat-icon>
          <span>HOME</span>
        </button>
      </div>
      <div class="py-4 icon-style">
        <button mat-icon-button>
          <mat-icon color="primary">view_list</mat-icon>
          <span>ESPACIOS</span>
        </button>
      </div>
      <div class="py-4 icon-style">
        <button mat-icon-button>
          <mat-icon color="primary">done_outline</mat-icon>
          <span>RESERVAS</span>
        </button>
      </div>
      <div class="pt-4 icon-style">
        <button mat-icon-button>
          <mat-icon color="primary">person_pin</mat-icon>
          <span>PERFIL</span>
        </button>
      </div>

    </div>
    <div class="content-right">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="footer-style"></div>

</div>
