<div class="d-flex justify-content-between align-items-center">
  <div class="title-style">MIS ESPACIOS PUBLICADOS</div>
  <div class="d-flex justify-content-between">
    <div class="pr-5">
      <button mat-icon-button (click)="toHome()">
        <mat-icon color="primary">add_circle_outline</mat-icon>
        <span>Agregar</span>
      </button>
    </div>
    <div class="pr-5 pl-3">
      <button mat-icon-button (click)="toHome()">
      <mat-icon color="primary">arrow_back_ios</mat-icon>
      <span>Atrás</span>
      </button>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="row card-reserb">
    <div class="col-8 align-self-center">
      <div class="row">
        <div class="col-10">
          <div class="pb-3 card-description">Cancha de Gras Sintetico</div>
          <div>Categoria: Fulbito</div>
          <div>Precio: 80 soles / Hora</div>
        </div>
        <div class="col-2 text-center align-self-center">
          <div>
            <mat-icon class="icon-size">calendar_today</mat-icon>
          </div>
          <div class="pt-2">
            <mat-icon class="icon-size">delete_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 text-center align-self-center">
      <img src="../../../../assets/images/gras2.jpg" height="130" width="240"/>
    </div>
  </div>
</div>

<div class="my-3">
  <div class="row card-reserb">
    <div class="col-8 align-self-center">
      <div class="row">
        <div class="col-10">
          <div class="pb-3 card-description">Cancha de cemento</div>
          <div>Categoria: Fulbito,  Voley</div>
          <div>Precio: 50 soles / Hora</div>
        </div>
        <div class="col-2 text-center align-self-center">
          <div>
            <mat-icon class="icon-size">calendar_today</mat-icon>
          </div>
          <div class="pt-2">
            <mat-icon class="icon-size">delete_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 text-center align-self-center">
      <img src="../../../../assets/images/losa.jpg" height="130" width="240"/>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="row card-reserb">
    <div class="col-8 align-self-center">
      <div class="row">
        <div class="col-10">
          <div class="pb-3 card-description">Cancha Oficial de Gras Sintetico</div>
          <div>Categoria: Fútbol</div>
          <div>Precio: 160 soles / Hora</div>
        </div>
        <div class="col-2 text-center align-self-center">
          <div>
            <mat-icon class="icon-size">calendar_today</mat-icon>
          </div>
          <div class="pt-2">
            <mat-icon class="icon-size">delete_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 text-center align-self-center">
      <img src="../../../../assets/images/gras1.jpg" height="130" width="240"/>
    </div>
  </div>
</div>
