<div class="p-x-20">

  <div class="text-center p-5  welcome-style">
    <h2>¡Bienvenido a la pagina de negocios de ReserB!</h2>
  </div>
  <div class="p-5 text-center border-style">
    Aquí podrás publicar tus losas deportivas para que todos nuestros usuarios puedan reservarlas mas rápido de lo que cambiamos de congresistas :)
  </div>

  <div class="p-5 text-center">

    <div>Hemos visto que no tienes espacios publicados aún.</div>
    <div class="pt-4">
      <button mat-raised-button (click)="toRegisterSpace()">¡Publica uno ya!</button>
    </div>
  </div>

</div>
